.container{
    padding: 1.2rem;

}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarOptionContainer{
    display: flex;
}

.buttonJoin{
    background: #fc0266;;
    border-radius: 10px;
    padding-block: 0.6rem;
    padding-inline: 1.2rem;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: 1.7rem;
    cursor: pointer;
    
}

.buttonJoin:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


.proLogo {
  width: 80px; 
  height: 80px; 
  object-fit: contain; 
  border-radius: 8px; 
  border: 2px solid #f3f3f3;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  flex-shrink: 0;
}

.heading {
  display: flex;
  align-items: center;
  gap: 1rem; 
  cursor: pointer;
  font-size: 1.8rem; 
  font-weight: 700;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.heading >img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(50, 103, 235, 0.745);
    
}

@media only screen and (max-width: 600px){
    .heading{
        font-size: 1rem;
    }
}